  <footer class="bg-amber-800 text-white p-6">
  <div class="max-w-5xl mx-auto flex flex-col md:flex-row justify-between items-start gap-6">


    <!-- Links -->
    <div class="flex flex-col md:flex-row justify-between gap-8 text-md text-gray-300 md:text-left">


      <!-- Important Pages: dropdown on mobile -->
      <div class="relative">
        <!-- Mobile -->
        <details class="md:hidden">
        <summary class="text-white font-bold text-lg cursor-pointer">Important Pages</summary>
          <ul class="space-y-1 mt-2 pl-4">
          <li><a routerLink="/Blogs" routerLinkActive="text-blue-700" class="underline hover:text-blue-500 cursor-pointer">Blogs</a></li>
          <li><a routerLink="/Privacy Policy" routerLinkActive="text-blue-700"  class="underline hover:text-blue-500 cursor-pointer">Privacy Policy</a></li>
          <li><a routerLink="/Terms and Conditions" routerLinkActive="text-blue-700"  class="underline hover:text-blue-500 cursor-pointer">Terms and Conditions</a></li>
          <li><a routerLink="/Vision" routerLinkActive="text-blue-700"  class="underline hover:text-blue-500 cursor-pointer">Vision</a></li>
          <li><a routerLink="/Documented" routerLinkActive="text-blue-700"  class="underline hover:text-blue-500 cursor-pointer">Documented in Ma'aroof</a></li>
        </ul>
        </details>
      </div>


      <!-- Our Categories: dropdown on mobile -->
      <div class="relative">
        <details class="md:hidden">
          <summary class="text-white font-bold text-lg cursor-pointer">Categories</summary>
          <ul class="space-y-1 mt-2 pl-4">
            <li><a routerLink="/Carpet and rug Cleaning" routerLinkActive="text-blue-700" class="underline hover:text-blue-500 cursor-pointer">Carpet and rug cleaning</a></li>
            <li><a routerLink="/Cleaning and polishing floor and ceramics" routerLinkActive="text-blue-700" class="underline hover:text-blue-500 cursor-pointer">Cleaning and polishing floors and ceramics</a></li>
            <li><a routerLink="/Curtain cleaner" routerLinkActive="text-blue-700" class="underline hover:text-blue-500 cursor-pointer">Curtain cleaner</a></li>
            <li><a routerLink="/Deep Cleaning Of Buildings" routerLinkActive="text-blue-700" class="underline hover:text-blue-500 cursor-pointer">Deep cleaning of buildings after finishing</a></li>
            <li><a routerLink="/Sofa Cleanliness" routerLinkActive="text-blue-700" class="underline hover:text-blue-500 cursor-pointer">Sofa cleanliness</a></li>
          </ul>
        </details>


      </div>


      <!-- Contact Us -->
     <div>
    <h3 class="text-white font-bold md:text-center text-lg mb-2">Contact Us</h3>
          <div class="flex md:mx-90 gap-4 text-xl">
            <a class="transform transition-transform duration-100 hover:scale-70 hover:text-pink-500 cursor-pointer"><i class="fab fa-instagram"></i></a>
            <a class="transform transition-transform duration-100 hover:scale-70 hover:text-red-700 cursor-pointer"><i class="fab fa-youtube"></i></a>
            <a class="transform transition-transform duration-100 hover:scale-70 hover:text-blue-400 cursor-pointer"><i class="fab fa-x-twitter"></i></a>
            <a class="transform transition-transform duration-100 hover:scale-70 hover:text-pink-700 cursor-pointer"><i class="fab fa-tiktok"></i></a>
          </div>
     </div>


    </div>
    
  </div>

    <p class="text-md text-amber-200 p-2 text-center dark:text-gray-400">© 2023 <a routerLink="/About" class="hover:underline">Luvq™</a>. All Rights Reserved.
    </p>





</footer>




