    <header class="bg-amber-800 rounded-lg text-center w-[98%] mx-auto p-6 my-5">
      <h2 class="text-2xl font-bold text-amber-200">Categories</h2>
    </header>

    
    <div class="mx-auto grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 md:gap-6 p-4">

<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
    <a routerLink="/Living Room">
        <img class="p-4 rounded-t-lg h-[300px] w-[400px]"  src="living room.avif" alt="living room image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Living Room">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Living Room</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
    <a routerLink="/Bedroom">
        <img class="p-4 rounded-t-lg w-[400px] h-[300px]" src="bed room.avif" alt="bed room image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Bedroom">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Bedroom</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
   <a routerLink="/Dining Room">
        <img class="p-4 rounded-t-lg w-[400px] h-[300px]" src="dining room.avif" alt="dining room image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Dining Room">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Dining Room</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
   <a routerLink="/Office Furniture">
        <img class="p-4 rounded-t-lg w-[400px] h-[300px]" src="office furniture.avif" alt="office furniture image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Office Furniture">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Office Furniture</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
    <a routerLink="/Kids' Furniture">
        <img class="p-4 rounded-t-lg h-[300px] w-[400px]"  src="Kids' Furniture.avif" alt="Kids' Furniture image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Kids' Furniture">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Kids' Furniture</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
    <a routerLink="/Outdoor Furniture">
        <img class="p-4 rounded-t-lg h-[300px] w-[400px]"  src="Outdoor Furniture.avif" alt="Outdoor Furniture image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Outdoor Furniture">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Outdoor Furniture</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
    <a routerLink="/Storage & Organization">
        <img class="p-4 rounded-t-lg h-[300px] w-[400px]"  src="Storage & Organization.avif" alt="Storage & Organization image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Storage & Organization">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Storage & Organization</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
    <a routerLink="/Lighting">
        <img class="p-4 rounded-t-lg h-[300px] w-[400px]"  src="Lighting.avif" alt="Lighting image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Lighting">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Lighting</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
    <a routerLink="/Home Decor">
        <img class="p-4 rounded-t-lg h-[300px] w-[400px]"  src="Home Decor.avif" alt="Home Decor image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Home Decor">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Home Decor</h3>
        </a>

    </div>


</div>


<div routerLinkActive="text-amber-600" class="my-4 w-full cursor-pointer mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  
    <a routerLink="/Entryway">
        <img class="p-4 rounded-t-lg h-[300px] w-[400px]"  src="Entryway.avif" alt="Entryway image" />
    </a>


    <div class="px-5 pb-5">
        <a routerLink="/Entryway">
            <h3 class="text-xl font-semibold tracking-tight text-amber-300 dark:text-white text-center">Entryway</h3>
        </a>

    </div>


</div>







    </div>
